In [ ]:
import pandas as pd

pd.set_option("display.max_colwidth", 100)

In [3]:
dataframe = pd.read_csv("E:\Project Learnings\sample_text.csv")
dataframe.shape

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\pilot\AppData\Local\Temp\ipykernel_20592\1074086205.py:1: SyntaxWarning: invalid escape sequence '\P'
  dataframe = pd.read_csv("E:\Project Learnings\sample_text.csv")

(8, 2)

In [6]:
dataframe.text

0                                          Meditation and yoga can improve mental health
1                       Fruits, whole grains and vegetables helps control blood pressure
2                                      These are the latest fashion trends for this week
3                                      Vibrant color jeans for male are becoming a trend
4                                                     The concert starts at 7 PM tonight
5                        Navaratri dandiya program at Expo center in Mumbai this october
6                                      Exciting vacation destinations for your next trip
7    Maldives and Srilanka are gaining popularity in terms of low budget vacation places
Name: text, dtype: object

In [10]:
from sentence_transformers import SentenceTransformer

encoder = SentenceTransformer("all-mpnet-base-v2")
vectors = encoder.encode(dataframe.text)
vectors.shape

(8, 768)

In [13]:
dimension = vectors.shape[1]
dimension

768

In [19]:
import faiss as faiss

faiss_index = faiss.IndexFlatL2(dimension)
faiss_index

In [20]:
faiss_index.add(vectors)

In [22]:
search_query = "I want to buy a tshirt"
search_vectors = encoder.encode(search_query)
search_vectors.shape

(768,)

In [24]:
import numpy as nump

search_vector = nump.array(search_vectors).reshape(1, -1)

search_vector.shape

(1, 768)

In [30]:
distances, I = faiss_index.search(search_vector, k=2)
distances, I

(array([[1.3146095, 1.5420765]], dtype=float32), array([[2, 3]]))

In [34]:
search_query

'I want to buy a tshirt'

In [33]:
dataframe.loc[I[0]]

                                                text category
2  These are the latest fashion trends for this week  Fashion
3  Vibrant color jeans for male are becoming a trend  Fashion